/* Philips Scenario Stylesheet */

@import 'includes/reset';
@import 'includes/vars';
@import 'includes/mixins';
@import 'includes/jqueryui';
@import 'includes/base';

@font-face {
   font-family: "centralesansmedium";
   	src: url("fonts/centralesansmedium-webfont.ttf") format("truetype"),
    	 url('fonts/centralesansmedium-webfont-webfont.woff2') format('woff2'),
         url('fonts/centralesansmedium-webfont-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
   font-family: "centralesansbold";
   src: url("fonts/centralesansbold-webfont.ttf") format("truetype");
}

.page, .app { height: 100%; font-family: centralesansmedium, sans-serif; color: #fff; }

.app { max-width: $app-width; min-width: $app-width; max-height: $app-height; min-height: $app-height; 
			position: relative; overflow: hidden; margin: 0 auto; background-color: $bg-blue; background-image:url(../images/Blue_Background.png);
			background-size: 100%; background-repeat: no-repeat;
}

#super_container{
	
	width: 100%;
	overflow:hidden;
	-moz-user-select: none; -webkit-user-select: none; -ms-user-select:none; user-select:none;-o-user-select:none;
	z-index: 1000;
	color: #FFF;
	opacity: 0;
	transition-duration: 0.5s;

	#container{
		position: relative;
		background-position: left center;
		background-repeat: repeat-x;

		.slide, .slide-inside {
			background-color: transparent; 
		    margin: 0;
		    float: left;
		}

		.cover-slide { padding: 0 20px; }

		h2 { font-family: centralesansbold, sans-serif; font-size: 2.45em; margin: 0; }

		.flex-container {
		    display: -webkit-flex;
		    display: flex;
		    -webkit-align-items: center;
		    align-items: center;
		}

		.flex-container-col {
			flex-direction: column;
			justify-content: center;
			text-align: center;
			width: 300px;
			position: relative; 

			p {
				position: absolute;
				width: 250px;
				text-align: center;
				margin: 0 auto;

				left: 50%;
				-webkit-transform: translateX(-50%);
				transform: translateX(-50%);

			    &.slide_text_top  {
					bottom: 450px;
			    }

			    &.slide_text_bottom {
					top: 450px;
			    }

			    &.slideNo_top { bottom: 420px; }

			    &.slideNo_bottom  { top: 420px; }
		    }

		    .event_title_top { position: absolute; left: 50%; 
				-webkit-transform: translateX(-50%);
				transform: translateX(-50%); width: 2px; background-color: #fff; height: 35px; bottom: 410px; }
			.event_title_bottom { position: absolute; left: 50%; 
				-webkit-transform: translateX(-50%);
				transform: translateX(-50%);  width: 2px; background-color: #fff; height: 35px; top: 410px; }	  

			img.icon { 
				width: 60px; 
				height: 60px;
				margin: 0 auto; 
				padding: 0;
				position: absolute;
				left: 50%; 
				top: 354px;
				-webkit-transform: translateX(-50%);
				transform: translateX(-50%);
 			}  	
		}

		.flex-container-col-arrow {
			flex-direction: column;
			justify-content: center;
			text-align: center;
			width: 18px;
		}



	}

}

#logo {
	position: absolute;
	top: 30px;
	left: 30px;
	z-index: 2000;
	img { width: 59px; }
}

#header{
	position: absolute;
	top: 20px;
	left: 0;
	width: 100%;
	text-align: center;
	h1 { font-size: 32px; font-family: centralesansbold, sans-serif; }
}

#footer-scenarios-tab{
	background-color: rgba(255,255,255,0.2);
	color: #FFF;
	height: 76px;
	text-align: left;
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	padding: 10px;
}


#footer-scenarios{
			position: absolute;
			bottom: 0px;
			left: 0px;
			z-index: 2000;
			color: #0B2265;
			background-color: #7ba4d8;
			padding: 0px;
			width: 100%;

			ul {
			    display: flex;
			    align-items: stretch;
			    justify-content: space-between;
			    width: 100%;
			    margin: 0;
			    padding: 0;
			}

			li {
			    display: block;
			    flex: 0 1 auto; 
			    list-style-type: none;
				padding: 20px 0;
				line-height: 0;
				text-align: center;
			    margin: 0;
			    cursor: pointer;
			}
			li.selected {
				background-color: #0B2265;
				color: #FFF;
			}
}

#overlay {

	width: $app-width; 
	height: $app-height;
	background-color: rgba(0,0,0,0.8);
	position: absolute;
	z-index: 3000;
	top: 0;
	left: 0;
	display: none;
	opacity: 0;
	transition-duration: 0.5s;

	.pop-up {
		position: absolute;
		width: 90%;
		height: 90%;
		left: 5%;
		top: 5%;
		background-color: rgba(15,32,75,1);
		color: #fff;

		display: -webkit-flex;
		display: flex;
		-webkit-align-items: center;
		align-items: center;

		#close-container {
				position: absolute;
				right: 0;
				top: 0;
				padding: 14px;
				cursor: pointer;
			img {
				width: 21px;
				height: 21px;

			}
		}

		.pop-up-content {
			padding: 30px 90px;

			h2 { font-size: 21px; padding-bottom: 20px; font-size: 16px;
				img { width: 47px; display: inline-block; margin-right: 15px; float: left; margin-top: -9px; }
			}
			ul {
    			list-style-image: url('../images/Bullet_Point.png');
    			li { margin: 30px 10px 0 10px; padding: 0 20px;  }
			}
		}
	}

}

#dasher {
	position: absolute;
	background-image:url(../images/Timeline.png);
	background-position: center;
	background-repeat: repeat-x;
	background-size: 50%;
	img { float:left; height: 11.5px; width: 1.5px; }
}